django
djangorestframework
django-cors-headers
fastapi
uvicorn[standard]
python-dotenv
djangorestframework-simplejwt
deepgram-sdk
langchain
langchain-groq
requests
streamlit
streamlit-webrtc
websockets==13.1
gunicorn
# New dependencies
langgraph
langchain-openai
